*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* forcing all elements to inherit this from their respective parent starting from the body */
}

html {
    font-size: 62.5%; /* 62.5% of 16px=> 10px = 1rem; Easier for Calculation :)*/
}

body {
    box-sizing: border-box;
}
